{
  "extends": "./node_modules/@funbox/eslint-config/.eslintrc.js",
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".node"]
      }
    }
  },
  "globals": {
    "describe": true,
    "it": true,
    "beforeEach": true
  }
}
